<a href="https://colab.research.google.com/github/istrefii/DATA-SCIENCE-NOTES/blob/main/predicting_employees_churn_in.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from keras.model import Sequential 
from keras.layers import Dense

model= Sequential()
model.add(Dense(100, input_dim=scaled_train_features.shape[1]), activation='relu')
model.add(Dense(20, activation= 'relu'))
model.add(Dense(1, activation='linear'))

model.compile(optimizer='adam', loss='mse')
history= model.fit(scaled_train, y_train, epochs=25)

In [ ]:
df= 'https://assets.datacamp.com/production/repositories/1765/datasets/ae888d00f9b36dd7d50a4afbc112761e2db766d2/turnover.csv'
import pandas as pd

#read and save it in data
data= pd.read_csv(df)

#take look at first 5 rows
print(data.head())

# get some info
data.info()

   satisfaction  evaluation  number_of_projects  average_montly_hours  \
0          0.38        0.53                   2                   157
1          0.80        0.86                   5                   262
2          0.11        0.88                   7                   272
3          0.72        0.87                   5                   223
4          0.37        0.52                   2                   159

   time_spend_company  work_accident  churn  promotion department  salary
0                   3              0      1          0      sales     low
1                   6              0      1          0      sales  medium
2                   4              0      1          0      sales  medium
3                   5              0      1          0      sales     low
4                   3              0      1          0      sales     low
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   satisfaction          14999 non-null  float64
 1   evaluation            14999 non-null  float64
 2   number_of_projects    14999 non-null  int64
 3   average_montly_hours  14999 non-null  int64
 4   time_spend_company    14999 non-null  int64
 5   work_accident         14999 non-null  int64
 6   churn                 14999 non-null  int64
 7   promotion             14999 non-null  int64
 8   department            14999 non-null  object
 9   salary                14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [ ]:
# Import pandas (as pd) to read the data
import pandas as pd

# Read "turnover.csv" file and save it in a DataFrame called data
data = pd.read_csv(df)

# Print the unique values of the "department" column
print(data.department.unique())

# Print the unique values of the "salary" column
print(data.salary.unique())

['sales' 'accounting' 'hr' 'technical' 'support' 'management' 'IT'
 'product_mng' 'marketing' 'RandD']
['low' 'medium' 'high']

In [ ]:
# chane type of salary to cateogrical
data.salary= data.salary.astype('category')

#provide correct order of categories
data.salary= data.salary.cat.reorder_categories(['low', 'medium', 'high'])

# encode categories
data.salary= data.salary.cat.codes

In [ ]:
# get dummies and save them inside dataframe
departments= pd.get_dummies(data.department)

# took a look at forst 5 columns
departments.head()

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0

In [ ]:
# drop accounting column to avoid dummy trap
departments= departments.drop('accounting', axis=1)

# drop old column departmenmt as we dont need it anymore
data= data.drop('department', axis=1)

# join new dataframe
data= data.join(departments)

In [ ]:
data.head()

,satisfaction,evaluation,number_of_projects,average_montly_hours,time_spend_company,work_accident,churn,promotion,salary,IT,RandD,hr,management,marketing,product_mng,sales,support,technical
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,0,1,0,0
1,0.80,0.86,5,262,6,0,1,0,1,0,0,0,0,0,0,1,0,0
2,0.11,0.88,7,272,4,0,1,0,1,0,0,0,0,0,0,1,0,0
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,0,1,0,0
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,0,1,0,0

In [ ]:
# use len() function to get the total number of observations and save it as the number of employees
n_employees= len(data)

# print number of employees who have left/stayed
print(data.churn.value_counts())

#print the % that have left/stayed
print(data.churn.value_counts()/n_employees *100)

# looks like 76% of employees have stayed

0    11428
1     3571
Name: churn, dtype: int64
0    76.191746
1    23.808254
Name: churn, dtype: float64

In [ ]:
# set the target and features

target= data.churn

features= data.drop('churn', axis=1)

In [ ]:
# import function for train test split
from sklearn.model_selection import train_test_split

# use function to create splits both for target and for features
# use 25% for test
target_train, target_test, features_train, features_test= train_test_split(target, features, test_size=0.25, random_state=42)

In [ ]:
#num of people who stayed/left
stayed= 37
left = 1138

#sum of stayed and left
total= stayed + left

#gini index
gini= 2*(stayed/total) * (left/total)

In [ ]:
# Gini index in case of splitting by variable A or B
gini_A = 0.65
gini_B = 0.15

# check which Gini is lower and use it for spliting
if gini_A < gini_B:   
    print("split by A!")
else:
    print("split by B!")

split by B!

In [39]:
# import classfication algorithm
from sklearn.tree import DecisionTreeClassifier

# Initialize it and call model by random_state parameter
model= DecisionTreeClassifier(random_state=42)

# apply decision tree model to fit features
model.fit(features_train, target_train)

DecisionTreeClassifier(random_state=42)

In [ ]:
# check accuracy score of train
print(model.score(features_train, target_train))

#check score of test
print(model.score(features_test, target_test))

1.0
0.9722666666666666

In [ ]:
#import graphical visulation export function
from sklearn.tree import export_graphviz

# Apply decision tree model to fit features to target
model.fit(features_train, target_train)

# export tree to dot file
export_graphviz(model, 'tree.dot')

In [ ]:
# initialize Decisiontreeclassifer wher limiting depth of tree to 5
model_depth_5= DecisionTreeClassifier(max_depth=5, random_state=42)

# fit model
model_depth_5.fit(features_train, target_train)

#score training 
print(model_depth_5.score(features_train, target_train))

# score
print(model_depth_5.score(features_test, target_test))

0.9771535247577563
0.9706666666666667

In [28]:
# initialize DTC with limithing sample size in leaves to 100
model_sample_100= DecisionTreeClassifier(min_samples_leaf=100, random_state=42)

# fit model 
model_sample_100.fit(features_train, target_train)

#score train
print(model_sample_100.score(features_train, target_train) *100)

# score test
print(model_sample_100.score(features_test, target_test)*100)

96.57747355320473
96.13333333333334

In [33]:
# precision =0.94, recall =0.97
# 94% of predicitions are right

'              precision    recall  f1-score   support\n\n           0       0.97      0.98      0.97      2853\n           1       0.93      0.91      0.92       897\n\n    accuracy                           0.96      3750\n   macro avg       0.95      0.94      0.95      3750\nweighted avg       0.96      0.96      0.96      3750\n'

In [41]:
# import function to calculate precision score
from sklearn.metrics import precision_score

# prediciton whenther employees will church using test set
prediction= model.predict(features_test)

# calucate precision score by comparing target_test with prediction
print(precision_score(target_test, prediction))

0.9240641711229947

In [45]:
# import function. to calucate recall score
from sklearn.metrics import recall_score

# use model to predict church
prediction= model.predict(features_test)

# calucate recall score
print(recall_score(target_test, prediction))

0.9632107023411371

In [46]:
# Import the function to calculate ROC/AUC score
from sklearn.metrics import roc_auc_score

# Use initial model to predict churn (based on features_test)
prediction = model.predict(features_test)

# Calculate ROC/AUC score by comparing target_test with the prediction
print(roc_auc_score(target_test, prediction))

0.9691623087590718

In [47]:
# initialize decisionTreeclassifier
model_depth_5_b= DecisionTreeClassifier(max_depth=5, class_weight='balanced', random_state=42)

# fit model
model_depth_5_b.fit(features_test, target_test)

# print accuracy of predicition for test set
print(model_depth_5_b.score(features_test, target_test))

0.9322666666666667

In [48]:
# Print the recall score
print(recall_score(target_test,prediction))
# Print the ROC/AUC score
print(roc_auc_score(target_test,prediction))

# Initialize the model
model_depth_7_b = DecisionTreeClassifier(max_depth=7, class_weight='balanced', random_state=42)
# Fit it to the training component
model_depth_7_b.fit(features_train, target_train)
# Make prediction using test component
prediction_b = model_depth_7_b.predict(features_test)
# Print the recall score for the balanced model
print(recall_score(target_test, prediction_b))
# Print the ROC/AUC score for the balanced model
print(roc_auc_score(target_test, prediction_b))

0.9632107023411371
0.9691623087590718
0.9319955406911928
0.959863876199084

In [50]:
# import function for cross validation
from sklearn.model_selection import cross_val_score

# using function to print the cross validation for 10 folds
print(cross_val_score(model, features, target, cv=10))

[0.98533333 0.98533333 0.974      0.96533333 0.96       0.97933333
 0.99       0.99333333 1.         1.        ]

In [51]:
from inspect import Parameter
# generate values for max depth
depth= [i for i in range(5,21,1)]

# generate values for min sample size
samples= [i for i in range(50,500,50)]

# create dictionary with paramters to be checked
parameters= dict(max_depth= depth, min_samples_leaf= samples)
parameters

{'max_depth': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'min_samples_leaf': [50, 100, 150, 200, 250, 300, 350, 400, 450]}

In [57]:
from sklearn.model_selection import GridSearchCV

# initialize the param_search function using GridSearchCV funciton, initial model and parameters above
param_search = GridSearchCV(model, parameters)

# fir param_search to training dataset
param_search.fit(features_train, target_train)

# print best parameters
print(param_search.best_params_)

model_best= DecisionTreeClassifier(max_depth=5, min_samples_leaf=50)

{'max_depth': 5, 'min_samples_leaf': 50}

In [59]:
model_best.fit(features_train, target_train)

# Calculate feature importances
feature_importances = model_best.feature_importances_

# Create a list of features: done
feature_list = list(features)

# Save the results inside a DataFrame using feature_list as an index
relative_importances = pd.DataFrame(index=feature_list, data=feature_importances, columns=["importance"])

# Sort values to learn most important features
relative_importances.sort_values(by="importance", ascending=False)

                      importance
satisfaction            0.551529
time_spend_company      0.157009
evaluation              0.144354
number_of_projects      0.092864
average_montly_hours    0.053087
technical               0.000631
hr                      0.000295
salary                  0.000231
promotion               0.000000
work_accident           0.000000
RandD                   0.000000
management              0.000000
marketing               0.000000
product_mng             0.000000
sales                   0.000000
support                 0.000000
IT                      0.000000

In [60]:
# select only features with relative importance higher than 1%
selected_features = relative_importances[relative_importances.importance>0.01]

# create a list from those features: done
selected_list = selected_features.index

# transform both features_train and features_test components to include only selected features
features_train_selected = features_train[selected_list]
features_test_selected = features_test[selected_list]

In [61]:
# Initialize the best model using parameters provided in description
model_best = DecisionTreeClassifier(max_depth=8, min_samples_leaf=150, class_weight='balanced', random_state=42)

# Fit the model using only selected features from training set: done
model_best.fit(features_train_selected, target_train)

# Make prediction based on selected list of features from test set
prediction_best = model_best.predict(features_test_selected)

# Print the general accuracy of the model_best
print(model_best.score(features_test_selected, target_test) * 100)

# Print the recall score of the model predictions
print(recall_score(target_test, prediction_best) * 100)

# Print the ROC/AUC score of the model predictions
print(roc_auc_score(target_test, prediction_best) * 100)

95.28
91.75027870680044
94.07002193314084