In [2]:
# select all details from french where language = 'French'
SELECT *
FROM films
WHERE language = 'French'

In [ ]:
# Get the name and birth date of the person born on November 11th, 1974. Remember to use ISO date format ('1974-11-11')!
SELECT name 
FROM people
WHERE birthdate = '1974-11-11'

In [ ]:
# Get the number of Hindi language films.
SELECT COUNT(*)
FROM films
WHERE language = 'Hindi'

In [ ]:
# Select all films with R certification
SELECT *
FROM films
WHERE certification = 'R'

In [ ]:
# Get the title and release year for all Spanish language films released before 2000.
SELECT title, release_year
FROM films
WHERE language='Spanish' AND release_year < 2000

In [ ]:
# Get all details for Spanish language films released after 2000.
SELECT * 
FROM films
WHERE language='Spanish' AND release_date > 2000

In [ ]:
# Get all details for Spanish language films released after 2000, but before 2010.
SELECT *
FROM films
WHERE language='Spanish' AND release_year > 2000 AND release_year<2010

In [ ]:
SELECT title
FROM films
WHERE (release_year = 1994 OR release_year = 1995)
AND (certification = 'PG' OR certification = 'R');

In [ ]:
# Get the title and release year for films released in the 90s.
SELECT title, release_year 
FROM films
WHERE release_year >=1990 AND release_year <2000

# Now, build on your query to filter the records to only include French or Spanish language films.
SELECT title, release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'French' OR language = 'Spanish')

# also which movies took more then 2M
SELECT title, release_year
FROM films
WHERE (release_year >= 1990 AND release_year < 2000)
AND (language = 'French' OR language = 'Spanish')
AND (gross > 2000000)

In [ ]:
# Get the title and release year of all films released between 1990 and 2000 (inclusive).
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
AND (budget > 100000000)
AND (language = 'Spanish' or language='French');

In [ ]:
# Get the title and release year of all films released in 1990 or 2000 that were longer than two hours
SELECT title, release_year
FROM films
WHERE release_year IN (1990,2000)
AND duration > 120

#Get the title and language of all films which were in English, Spanish, or French.
Select title, language 
From films
Where language IN ('English', 'Spanish', 'French')

# Get the title and certification of all films with an NC-17 or R certification.
SELECT title, certification
FROM films
WHERE certification IN ('NC-17', 'R')

In [ ]:
# Get the names of people who are still alive, i.e. whose death date is missing
Select name
From people
Where deathdate IS NULL

# Get the title of every film which doesn't have a budget associated with it.
Select title
From films
Where budget IS NULL

# Get the number of films which don't have a language associated with them.
select count(*)
From films
where language is NULL

In [ ]:
# Get the names of all people whose names begin with 'B'. The pattern you need is 'B%'.
Select name
From people
#basically a tab. So choosing names that start with the letter B
Where name LIKE 'B%'

# Get the names of people whose names have 'r' as the second letter. The pattern you need is '_r%'.
Select name
From people
#the underscore fills in anyletter or word
Where name LIKE '_r%'

# Get the names of people whose names don't start with A. The pattern you need is 'A%'.
Select name 
From people
Where name NOT LIKE 'A%'

# Aggregate functions

In [ ]:
# Use the SUM function to get the total duration of all films.
SELECT sum(duration)
From films;

#Get the average duration of all films.
select AVG(duration)
From films;

# Get the duration of the shortest film.
SELECT MIN(duration)
FROM films;

# Get the duration of the longest film.
SELECT MAX(duration)
FROM films;

In [ ]:
# Use the SUM function to get the total amount grossed by all films made in the year 2000 or later.
Select sum(gross)
From films
Where release_year >= 2000

# Get the average amount grossed by all films whose titles start with the letter 'A'
select avg(gross)
from films
where title LIKE 'A%'

# Get the amount grossed by the worst performing film in 1994.
SELECT min(gross)
FROM films
WHERE release_year = 1994

# Get the amount grossed by the best performing film between 2000 and 2012, inclusive
SELECT MAX(gross)
FROM films
WHERE release_year BETWEEN 2000 AND 2012

#
SELECT (10/3) will equal 3
SELECT (10.0/3.0) will give u decimal

In [ ]:
# Get the title and net profit (the amount a film grossed, minus its budget) for all films. Alias the net profit as net_profit.
SELECT title, gross- budget AS net_profit
FROM films

# Get the title and duration in hours for all films. The duration is in minutes, so you'll need to divide by 60.0 to get the duration in hours. Alias the duration in hours as duration_hours
SELECT title, duration / 60.0 AS duration_hours
FROM films;

#Get the average duration in hours for all films, aliased as avg_duration_hours.
SELECT AVG(duration)/ 60.0 as avg_duration_hours
FROM films;

In [ ]:
#get the count(deathdate) and multiply by 100.0
#then divide by count(*) 
SELECT COUNT(deathdate) * 100.0 / COUNT(*) AS percentage_dead
FROM people;

# Get the number of years between the newest film and oldest film. Alias the result as difference
SELECT max(release_year)- min(release_year) AS difference
FROM films

#Get the number of decades the films table covers. Alias the result as number_of_decades. 
# The top half of your fraction should be enclosed in parentheses.
SELECT (max(release_year) - min(release_year)) /10
AS number_of_decades
FROM films

# Order By

In [ ]:
SELECT title
FROM films
ORDER BY release_year DESC;
# sort by ABC order

In [ ]:
# Get the names of people from the people table, sorted alphabetically.
SELECT name
FROM people
ORDER BY name

#Get the names of people, sorted by birth date.
SELECT name
FROM people
ORDER BY birthdate

# Get the birth date and name for every person, in order of when they were born.
SELECT name, birthdate
FROM people
ORDER BY birthdate

In [ ]:
# Get the title of films released in 2000 or 2012, in the order they were released.
SELECT title
FROM films
WHERE release_year IN(2000,2012)
ORDER BY release_year

# Get all details for all films except those released in 2015 and order them by duration.
SELECT *
FROM films
WHERE release_year != 2015
ORDER BY duration

# Get the title and gross earnings for movies which begin with the letter 'M' 
#and order the results alphabetically.
SELECT title, gross 
FROM films
WHERE title LIKE 'M%'
ORDER BY title

In [ ]:
# Get the IMDB score and film ID for every film from the reviews table, 
# sorted from highest to lowest score.
SELECT imdb_score, film_id
FROM reviews
ORDER BY imdb_score DESC

#Get the title for every film, in reverse order.
SELECT title
FROM films 
ORDER BY title DESC

#Get the title and duration for every film, in order of longest duration to shortest
SELECT title, duration
FROM films
ORDER BY duration DESC

In [ ]:
# Get the birth date and name of people in the people table,
# in order of when they were born and alphabetically by name.
SELECT birthdate, name
FROM people
ORDER BY birthdate, name

# Get the release year, duration, and title of films ordered by their release year and duration.
SELECT release_year, duration, title
FROM films
ORDER BY release_year, duration

# Get certifications, release years, and titles of films ordered by certification (alphabetically) 
# and release year
SELECT certification, release_year, title
FROM films
ORDER BY certification, release_year

# Get the names and birthdates of people ordered by name and birth date.
SELECT name, birthdate
FROM people
ORDER BY name, birthdate

# GROUP BY

In [ ]:
SELECT sex, count(*)
FROM employees
GROUP BY sex;

SELECT sex, count(*)
FROM employees
GROUP BY sex
ORDER BY count DESC;

In [ ]:
# Get the release year and count of films released in each year.
SELECT release_year, count(*)
FROM films
GROUP BY release_year

# Get the release year and average duration of all films, grouped by release year.
SELECT release_year, avg(duration)
FROM films
GROUP BY release_year

# Get the release year and largest budget for all films, grouped by release year.
SELECT release_year, max(budget)
FROM films
GROUP BY release_year

# Get the IMDB score and count of film reviews grouped by IMDB score in the reviews table
SELECT imdb_score, count(*)
FROM reviews
GROUP BY imdb_score

In [ ]:
# Get the release year and lowest gross earnings per release year.
SELECT release_year, min(gross)
FROM films
GROUP BY release_year

# Get the language and total gross amount films in each language made.
SELECT language, sum(gross)
FROM films
GROUP BY language

# Get the country and total budget spent making movies in each country.
SELECT country, sum(budget)
FROM films 
GROUP BY country

# Get the release year, country, and highest budget spent making a film for each year,
# for each country. Sort your results by release year and country.
SELECT release_year, country, max(budget)
FROM films
GROUP BY release_year, country
ORDER BY release_year, country

# Get the country, release year, and lowest amount grossed per release year per country.
# Order your results by country and release year.
SELECT country, release_year, min(gross)
FROM films
GROUP BY release_year, country
ORDER BY country, release_year

# HAVING a great time

In [ ]:
# In how many different years were more than 200 movies released?
SELECT release_year
FROM films
GROUP BY release_year
HAVING COUNT(title) > 200

In [ ]:
# Get the release year, budget and gross earnings for each film in the films table.
SELECT release_year, budget, gross
FROM Films

# Modify your query so that only records with a release_year after 1990 are included.
SELECT release_year, budget, gross
FROM films
WHERE release_year > 1990

#Remove the budget and gross columns, and group your results by release year.
SELECT release_year
FROM films
WHERE release_year > 1990
GROUP BY release_year

#Modify your query to include the average budget and average gross earnings for the results you have so far.
# Alias the average budget as avg_budget; alias the average gross earnings as avg_gross.
SELECT release_year, avg(budget) AS avg_budget, avg(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year

# Modify your query so that only years with an average budget of greater than $60 million are included.
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year
HAVING AVG(budget) > 60000000


# Finally, modify your query to order the results from highest average gross earnings to lowest.
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year
HAVING AVG(budget) > 60000000
ORDER BY AVG(gross) DESC

In [ ]:
#select country, average budget, 
# and average gross
SELECT country, avg(budget) as avg_budget, avg(gross) as avg_gross

#from the films table
FROM films

# group by country 
GROUP BY country

#where the country has more than 10 titles
HAVING count(title) > 10

#order by country
ORDER BY country

#limit to only show 5 results
LIMIT 5

In [ ]:
SELECT title, imdb_score
FROM films
JOIN reviews
ON films.id = reviews.film_id
WHERE title = 'To Kill a Mockingbird';