In [54]:
# Indrit Istrefi
# using web scraping and xpath to collect data from a website
# using sqlite on the data

In [1]:
#import modules 
import requests 
import pandas as pd
import sqlite3
import lxml.html
from IPython.core.display import display, HTML

In [2]:
# request get on the url
h1= requests.get('https://pokemondb.net/pokedex/all')

In [3]:
# using the lxml.html function on the request get above
d1= lxml.html.fromstring(h1.content)

In [4]:
#getting the table by the id
pokedex=d1.get_element_by_id('pokedex')

In [5]:
pokedex

In [7]:
# getting the children of the tablebody
tablebody= pokedex.getchildren()[1]
tablebody.getchildren()[0].text_content()

'\n001 BulbasaurGrass Poison\n318\n45\n49\n49\n65\n65\n45\n'

In [46]:
# trying to find the first index of the table
tablebody.getchildren()[0].getchildren()[0].text_content()

'001'

In [47]:
# getting the length of the table
len(tablebody.getchildren()[0:])

1045

In [27]:
#creating a dictionary with all the column names
data = {
    "#": [],
    "Name":     [],
    "Type":     [],
    "HP":       [],
    "Attack":   [],
    "Defense":  [],
    "Sp_Atk":   [],
    "Sp_Def":   [],
    "Speed":    [],
}
# creating a for loop to get each value in the table
for row in tablebody.getchildren()[0:]:
    data["#"].append(row.getchildren()[0].text_content().strip())
    data["Name"].append(row.getchildren()[1].text_content().strip())
    data["Type"].append(row.getchildren()[2].text_content().strip())
    data["HP"].append(row.getchildren()[3].text_content().strip())
    data["Attack"].append(row.getchildren()[4].text_content().strip())
    data["Defense"].append(row.getchildren()[5].text_content().strip())
    data["Sp_Atk"].append(row.getchildren()[6].text_content().strip())
    data["Sp_Def"].append(row.getchildren()[7].text_content().strip())
    data["Speed"].append(row.getchildren()[8].text_content().strip())
# creating the data frame
df= pd.DataFrame(data)
df

,#,Name,Type,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed
0,001,Bulbasaur,Grass Poison,318,45,49,49,65,65
1,002,Ivysaur,Grass Poison,405,60,62,63,80,80
2,003,Venusaur,Grass Poison,525,80,82,83,100,100
3,003,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120
4,004,Charmander,Fire,309,39,52,43,60,50
...,...,...,...,...,...,...,...,...,...
1040,896,Glastrier,Ice,580,100,145,130,65,110
1041,897,Spectrier,Ghost,580,100,65,60,145,80
1042,898,Calyrex,Psychic Grass,500,100,80,80,80,80
1043,898,Calyrex Ice Rider,Psychic Ice,680,100,165,150,85,130
1044,898,Calyrex Shadow Rider,Psychic Ghost,680,100,85,80,165,100

In [28]:
# printing the last row of the table by each column name 
print("#", row.getchildren()[0].text_content().strip())
print("Name", row.getchildren()[1].text_content().strip())
print("Type", row.getchildren()[2].text_content().strip())
print("HP", row.getchildren()[3].text_content().strip())
print("Attack", row.getchildren()[4].text_content().strip())
print("Defense", row.getchildren()[5].text_content().strip())
print("Sp_Atk", row.getchildren()[6].text_content().strip())
print("Sp_Def", row.getchildren()[7].text_content().strip())
print("Speed", row.getchildren()[8].text_content().strip())

# 898
Name Calyrex Shadow Rider
Type Psychic Ghost
HP 680
Attack 100
Defense 85
Sp_Atk 80
Sp_Def 165
Speed 100

In [13]:
# now using xpath to get a certain table from a webpage
# setting url variable as the url of the page
url = ('https://en.wikipedia.org/wiki/List_of_highest-grossing_films')

In [16]:
# using the requests.get function on the url
r = requests.get(url)
# using the lxml.html.fromstring on the r with the content 
M1 = lxml.html.fromstring(r.content)
print(M1)

<Element html at 0x7fc06e69b810>

In [18]:
# get the xpath link using the developers tools
elements= M1.xpath('//*[@id="mw-content-text"]/div[1]/table[1]')
#set the tbody
tbody = elements[0].getchildren()

In [23]:
# getting the children of the tbody and displaying the content
tbody[1].getchildren()[0].text_content()

'\nRank\n\nPeak\n\nTitle\n\nWorldwide gross\n\nYear\n\nReference(s)\n'

In [30]:
# creating a dictionary of the column names
data1 = {
    "Rank":  [],
    "Peak": [],
    "Title": [],
    "WorldWide_Gross": [],
    "Year": [],
    "References": [],
}
# creating a for low for each column to append the content 
for row in tbody[1].getchildren()[0:]:
    data1["Rank"].append(row.getchildren()[0].text_content().strip())
    data1["Peak"].append(row.getchildren()[1].text_content().strip())
    data1["Title"].append(row.getchildren()[2].text_content().strip())
    data1["WorldWide_Gross"].append(row.getchildren()[3].text_content().strip())
    data1["Year"].append(row.getchildren()[4].text_content().strip())
    data1["References"].append(row.getchildren()[5].text_content().strip())
df1= pd.DataFrame(data1)
df1.head(10)

,Rank,Peak,Title,WorldWide_Gross,Year,References
0,Rank,Peak,Title,Worldwide gross,Year,Reference(s)
1,1,1,Avengers: Endgame,"$2,797,800,564",2019,[# 1][# 2]
2,2,1,Avatar,"$2,790,439,000",2009,[# 3][# 4]
3,3,1,Titanic,"$2,194,439,542",1997,[# 5][# 6]
4,4,3,Star Wars: The Force Awakens,"$2,068,223,624",2015,[# 7][# 8]
5,5,4,Avengers: Infinity War,"$2,048,359,754",2018,[# 9][# 10]
6,6,3,Jurassic World,"$1,671,713,208",2015,[# 11][# 12]
7,7,7,The Lion King,"$1,656,943,394",2019,[# 13][# 2]
8,8,3,The Avengers,"$1,518,812,988",2012,[# 14][# 15]
9,9,4,Furious 7,"$1,516,045,911",2015,[# 16][# 17]

In [32]:
# printing the last column of the table
print("Rank", row.getchildren()[0].text_content().strip())
print("Peak", row.getchildren()[1].text_content().strip())
print("Title", row.getchildren()[2].text_content().strip())
print("WorldWide_Gross", row.getchildren()[3].text_content().strip())
print("Year", row.getchildren()[4].text_content().strip())
print("References", row.getchildren()[5].text_content().strip())

Rank 50
Peak 2
Title The Lion King
WorldWide_Gross $968,483,777
Year 1994
References [# 79][# 64]

In [50]:
# looking at the info of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   #        1045 non-null   object
 1   Name     1045 non-null   object
 2   Type     1045 non-null   object
 3   HP       1045 non-null   object
 4   Attack   1045 non-null   object
 5   Defense  1045 non-null   object
 6   Sp_Atk   1045 non-null   object
 7   Sp_Def   1045 non-null   object
 8   Speed    1045 non-null   object
dtypes: object(9)
memory usage: 73.6+ KB

In [52]:
# seeing how many different type pokemons 
df.Type.value_counts()

Water              72
Normal             71
Psychic            45
Grass              43
Fire               34
                   ..
Ground Electric     1
Ice Fairy           1
Electric Fire       1
Ghost Fairy         1
Ice Fire            1
Name: Type, Length: 192, dtype: int64

In [45]:
# creating a data
fire_water_type =df[df.Type.isin(["Fire", "Water"])]
#another way to create it using a for loop
for row in df[df.Type.isin(["Fire", "Water"])].itertuples():
   print(row[1:])

('004', 'Charmander', 'Fire', '309', '39', '52', '43', '60', '50')
('005', 'Charmeleon', 'Fire', '405', '58', '64', '58', '80', '65')
('007', 'Squirtle', 'Water', '314', '44', '48', '65', '50', '64')
('008', 'Wartortle', 'Water', '405', '59', '63', '80', '65', '80')
('009', 'Blastoise', 'Water', '530', '79', '83', '100', '85', '105')
('009', 'Blastoise Mega Blastoise', 'Water', '630', '79', '103', '120', '135', '115')
('037', 'Vulpix', 'Fire', '299', '38', '41', '40', '50', '65')
('038', 'Ninetales', 'Fire', '505', '73', '76', '75', '81', '100')
('054', 'Psyduck', 'Water', '320', '50', '52', '48', '65', '50')
('055', 'Golduck', 'Water', '500', '80', '82', '78', '95', '80')
('058', 'Growlithe', 'Fire', '350', '55', '70', '45', '70', '50')
('059', 'Arcanine', 'Fire', '555', '90', '110', '80', '100', '80')
('060', 'Poliwag', 'Water', '300', '40', '50', '40', '40', '40')
('061', 'Poliwhirl', 'Water', '385', '65', '65', '65', '50', '50')
('077', 'Ponyta', 'Fire', '410', '50', '85', '55', '65', '65')
('078', 'Rapidash', 'Fire', '500', '65', '100', '70', '80', '80')
('086', 'Seel', 'Water', '325', '65', '45', '55', '45', '70')
('090', 'Shellder', 'Water', '305', '30', '65', '100', '45', '25')
('098', 'Krabby', 'Water', '325', '30', '105', '90', '25', '25')
('099', 'Kingler', 'Water', '475', '55', '130', '115', '50', '50')
('116', 'Horsea', 'Water', '295', '30', '40', '70', '70', '25')
('117', 'Seadra', 'Water', '440', '55', '65', '95', '95', '45')
('118', 'Goldeen', 'Water', '320', '45', '67', '60', '35', '50')
('119', 'Seaking', 'Water', '450', '80', '92', '65', '65', '80')
('120', 'Staryu', 'Water', '340', '30', '45', '55', '70', '55')
('126', 'Magmar', 'Fire', '495', '65', '95', '57', '100', '85')
('129', 'Magikarp', 'Water', '200', '20', '10', '55', '15', '20')
('134', 'Vaporeon', 'Water', '525', '130', '65', '60', '110', '95')
('136', 'Flareon', 'Fire', '525', '65', '130', '60', '95', '110')
('155', 'Cyndaquil', 'Fire', '309', '39', '52', '43', '60', '50')
('156', 'Quilava', 'Fire', '405', '58', '64', '58', '80', '65')
('157', 'Typhlosion', 'Fire', '534', '78', '84', '78', '109', '85')
('158', 'Totodile', 'Water', '314', '50', '65', '64', '44', '48')
('159', 'Croconaw', 'Water', '405', '65', '80', '80', '59', '63')
('160', 'Feraligatr', 'Water', '530', '85', '105', '100', '79', '83')
('186', 'Politoed', 'Water', '500', '90', '75', '75', '90', '100')
('218', 'Slugma', 'Fire', '250', '40', '40', '40', '70', '40')
('223', 'Remoraid', 'Water', '300', '35', '65', '35', '65', '35')
('224', 'Octillery', 'Water', '480', '75', '105', '75', '105', '75')
('240', 'Magby', 'Fire', '365', '45', '75', '37', '70', '55')
('244', 'Entei', 'Fire', '580', '115', '115', '85', '90', '75')
('245', 'Suicune', 'Water', '580', '100', '75', '115', '90', '115')
('255', 'Torchic', 'Fire', '310', '45', '60', '40', '70', '50')
('258', 'Mudkip', 'Water', '310', '50', '70', '50', '50', '50')
('320', 'Wailmer', 'Water', '400', '130', '70', '35', '70', '35')
('321', 'Wailord', 'Water', '500', '170', '90', '45', '90', '45')
('324', 'Torkoal', 'Fire', '470', '70', '85', '140', '85', '70')
('341', 'Corphish', 'Water', '308', '43', '80', '65', '50', '35')
('349', 'Feebas', 'Water', '200', '20', '15', '20', '10', '55')
('350', 'Milotic', 'Water', '540', '95', '60', '79', '100', '125')
('351', 'Castform Sunny Form', 'Fire', '420', '70', '70', '70', '70', '70')
('351', 'Castform Rainy Form', 'Water', '420', '70', '70', '70', '70', '70')
('366', 'Clamperl', 'Water', '345', '35', '64', '85', '74', '55')
('367', 'Huntail', 'Water', '485', '55', '104', '105', '94', '75')
('368', 'Gorebyss', 'Water', '485', '55', '84', '105', '114', '75')
('370', 'Luvdisc', 'Water', '330', '43', '30', '55', '40', '65')
('382', 'Kyogre', 'Water', '670', '100', '100', '90', '150', '140')
('382', 'Kyogre Primal Kyogre', 'Water', '770', '100', '150', '90', '180', '160')
('390', 'Chimchar', 'Fire', '309', '44', '58', '44', '58', '44')
('393', 'Piplup', 'Water', '314', '53', '51', '53', '61', '56')
('394', 'Prinplup', 'Water', '405', '64', '66', '68', '81', '76')
('418', 'Buizel', 'Water', '330', '55', '65', '35', '60', '30')
('419', 'Floatzel', 'Water', '495', '85', '105', '55', '85', '50')
('422', 'Shellos', 'Water', '325', '76', '48', '48', '57', '62')
('456', 'Finneon', 'Water', '330', '49', '49', '56', '49', '61')
('457', 'Lumineon', 'Water', '460', '69', '69', '76', '69', '86')
('467', 'Magmortar', 'Fire', '540', '75', '95', '67', '125', '95')
('489', 'Phione', 'Water', '480', '80', '80', '80', '80', '80')
('490', 'Manaphy', 'Water', '600', '100', '100', '100', '100', '100')
('498', 'Tepig', 'Fire', '308', '65', '63', '45', '45', '45')
('501', 'Oshawott', 'Water', '308', '55', '55', '45', '63', '45')
('502', 'Dewott', 'Water', '413', '75', '75', '60', '83', '60')
('503', 'Samurott', 'Water', '528', '95', '100', '85', '108', '70')
('513', 'Pansear', 'Fire', '316', '50', '53', '48', '53', '48')
('514', 'Simisear', 'Fire', '498', '75', '98', '63', '98', '63')
('515', 'Panpour', 'Water', '316', '50', '53', '48', '53', '48')
('516', 'Simipour', 'Water', '498', '75', '98', '63', '98', '63')
('535', 'Tympole', 'Water', '294', '50', '50', '40', '50', '40')
('550', 'Basculin Red-Striped Form', 'Water', '460', '70', '92', '65', '80', '55')
('550', 'Basculin Blue-Striped Form', 'Water', '460', '70', '92', '65', '80', '55')
('554', 'Darumaka', 'Fire', '315', '70', '90', '45', '15', '45')
('555', 'Darmanitan Standard Mode', 'Fire', '480', '105', '140', '55', '30', '55')
('594', 'Alomomola', 'Water', '470', '165', '75', '80', '40', '45')
('631', 'Heatmor', 'Fire', '484', '85', '97', '66', '105', '66')
('653', 'Fennekin', 'Fire', '307', '40', '45', '40', '62', '60')
('654', 'Braixen', 'Fire', '409', '59', '59', '58', '90', '70')
('656', 'Froakie', 'Water', '314', '41', '56', '40', '62', '44')
('657', 'Frogadier', 'Water', '405', '54', '63', '52', '83', '56')
('692', 'Clauncher', 'Water', '330', '50', '53', '62', '58', '63')
('693', 'Clawitzer', 'Water', '500', '71', '73', '88', '120', '89')
('725', 'Litten', 'Fire', '320', '45', '65', '40', '60', '40')
('726', 'Torracat', 'Fire', '420', '65', '85', '50', '80', '50')
('728', 'Popplio', 'Water', '320', '50', '54', '54', '66', '56')
('729', 'Brionne', 'Water', '420', '60', '69', '69', '91', '81')
('746', 'Wishiwashi Solo Form', 'Water', '175', '45', '20', '20', '25', '25')
('746', 'Wishiwashi School Form', 'Water', '620', '45', '140', '130', '140', '135')
('771', 'Pyukumuku', 'Water', '410', '55', '60', '130', '30', '130')
('813', 'Scorbunny', 'Fire', '310', '50', '71', '40', '40', '40')
('814', 'Raboot', 'Fire', '420', '65', '86', '60', '55', '60')
('815', 'Cinderace', 'Fire', '530', '80', '116', '75', '65', '75')
('816', 'Sobble', 'Water', '310', '50', '40', '40', '70', '40')
('817', 'Drizzile', 'Water', '420', '65', '60', '55', '95', '55')
('818', 'Inteleon', 'Water', '530', '70', '85', '65', '125', '65')
('833', 'Chewtle', 'Water', '284', '50', '64', '50', '38', '38')
('846', 'Arrokuda', 'Water', '280', '41', '63', '40', '40', '30')
('847', 'Barraskewda', 'Water', '490', '61', '123', '60', '60', '50')

In [57]:
# seeing the len of the row
len(row[1:])

9

In [47]:
# creating the db 
db = sqlite3.connect(":memory")
# creating the cursor to the db
cursor = db.cursor()
# executing the table, calling it PKS_TABLE with the columns 
cursor.execute("""
    CREATE TABLE PKS_TABLE(NUMBER, NAME, TYPE, HP, ATTACK, DEFENSE, SP_ATK, SP_DEF, SPEED)
""")
#using the for loop to insert the values
for row in df[df.Type.isin(["Fire", "Water"])].itertuples():
    insert_sql_syntax = """
        INSERT INTO PKS_TABLE(NUMBER, NAME, TYPE, HP, ATTACK, DEFENSE, SP_ATK, SP_DEF, SPEED)
        VALUES (?,?,?,?,?,?,?,?,?)
    """
    cursor.execute(insert_sql_syntax, row[1:])
    print (row[1:])
# db.close()

('004', 'Charmander', 'Fire', '309', '39', '52', '43', '60', '50')
('005', 'Charmeleon', 'Fire', '405', '58', '64', '58', '80', '65')
('007', 'Squirtle', 'Water', '314', '44', '48', '65', '50', '64')
('008', 'Wartortle', 'Water', '405', '59', '63', '80', '65', '80')
('009', 'Blastoise', 'Water', '530', '79', '83', '100', '85', '105')
('009', 'Blastoise Mega Blastoise', 'Water', '630', '79', '103', '120', '135', '115')
('037', 'Vulpix', 'Fire', '299', '38', '41', '40', '50', '65')
('038', 'Ninetales', 'Fire', '505', '73', '76', '75', '81', '100')
('054', 'Psyduck', 'Water', '320', '50', '52', '48', '65', '50')
('055', 'Golduck', 'Water', '500', '80', '82', '78', '95', '80')
('058', 'Growlithe', 'Fire', '350', '55', '70', '45', '70', '50')
('059', 'Arcanine', 'Fire', '555', '90', '110', '80', '100', '80')
('060', 'Poliwag', 'Water', '300', '40', '50', '40', '40', '40')
('061', 'Poliwhirl', 'Water', '385', '65', '65', '65', '50', '50')
('077', 'Ponyta', 'Fire', '410', '50', '85', '55', '65', '65')
('078', 'Rapidash', 'Fire', '500', '65', '100', '70', '80', '80')
('086', 'Seel', 'Water', '325', '65', '45', '55', '45', '70')
('090', 'Shellder', 'Water', '305', '30', '65', '100', '45', '25')
('098', 'Krabby', 'Water', '325', '30', '105', '90', '25', '25')
('099', 'Kingler', 'Water', '475', '55', '130', '115', '50', '50')
('116', 'Horsea', 'Water', '295', '30', '40', '70', '70', '25')
('117', 'Seadra', 'Water', '440', '55', '65', '95', '95', '45')
('118', 'Goldeen', 'Water', '320', '45', '67', '60', '35', '50')
('119', 'Seaking', 'Water', '450', '80', '92', '65', '65', '80')
('120', 'Staryu', 'Water', '340', '30', '45', '55', '70', '55')
('126', 'Magmar', 'Fire', '495', '65', '95', '57', '100', '85')
('129', 'Magikarp', 'Water', '200', '20', '10', '55', '15', '20')
('134', 'Vaporeon', 'Water', '525', '130', '65', '60', '110', '95')
('136', 'Flareon', 'Fire', '525', '65', '130', '60', '95', '110')
('155', 'Cyndaquil', 'Fire', '309', '39', '52', '43', '60', '50')
('156', 'Quilava', 'Fire', '405', '58', '64', '58', '80', '65')
('157', 'Typhlosion', 'Fire', '534', '78', '84', '78', '109', '85')
('158', 'Totodile', 'Water', '314', '50', '65', '64', '44', '48')
('159', 'Croconaw', 'Water', '405', '65', '80', '80', '59', '63')
('160', 'Feraligatr', 'Water', '530', '85', '105', '100', '79', '83')
('186', 'Politoed', 'Water', '500', '90', '75', '75', '90', '100')
('218', 'Slugma', 'Fire', '250', '40', '40', '40', '70', '40')
('223', 'Remoraid', 'Water', '300', '35', '65', '35', '65', '35')
('224', 'Octillery', 'Water', '480', '75', '105', '75', '105', '75')
('240', 'Magby', 'Fire', '365', '45', '75', '37', '70', '55')
('244', 'Entei', 'Fire', '580', '115', '115', '85', '90', '75')
('245', 'Suicune', 'Water', '580', '100', '75', '115', '90', '115')
('255', 'Torchic', 'Fire', '310', '45', '60', '40', '70', '50')
('258', 'Mudkip', 'Water', '310', '50', '70', '50', '50', '50')
('320', 'Wailmer', 'Water', '400', '130', '70', '35', '70', '35')
('321', 'Wailord', 'Water', '500', '170', '90', '45', '90', '45')
('324', 'Torkoal', 'Fire', '470', '70', '85', '140', '85', '70')
('341', 'Corphish', 'Water', '308', '43', '80', '65', '50', '35')
('349', 'Feebas', 'Water', '200', '20', '15', '20', '10', '55')
('350', 'Milotic', 'Water', '540', '95', '60', '79', '100', '125')
('351', 'Castform Sunny Form', 'Fire', '420', '70', '70', '70', '70', '70')
('351', 'Castform Rainy Form', 'Water', '420', '70', '70', '70', '70', '70')
('366', 'Clamperl', 'Water', '345', '35', '64', '85', '74', '55')
('367', 'Huntail', 'Water', '485', '55', '104', '105', '94', '75')
('368', 'Gorebyss', 'Water', '485', '55', '84', '105', '114', '75')
('370', 'Luvdisc', 'Water', '330', '43', '30', '55', '40', '65')
('382', 'Kyogre', 'Water', '670', '100', '100', '90', '150', '140')
('382', 'Kyogre Primal Kyogre', 'Water', '770', '100', '150', '90', '180', '160')
('390', 'Chimchar', 'Fire', '309', '44', '58', '44', '58', '44')
('393', 'Piplup', 'Water', '314', '53', '51', '53', '61', '56')
('394', 'Prinplup', 'Water', '405', '64', '66', '68', '81', '76')
('418', 'Buizel', 'Water', '330', '55', '65', '35', '60', '30')
('419', 'Floatzel', 'Water', '495', '85', '105', '55', '85', '50')
('422', 'Shellos', 'Water', '325', '76', '48', '48', '57', '62')
('456', 'Finneon', 'Water', '330', '49', '49', '56', '49', '61')
('457', 'Lumineon', 'Water', '460', '69', '69', '76', '69', '86')
('467', 'Magmortar', 'Fire', '540', '75', '95', '67', '125', '95')
('489', 'Phione', 'Water', '480', '80', '80', '80', '80', '80')
('490', 'Manaphy', 'Water', '600', '100', '100', '100', '100', '100')
('498', 'Tepig', 'Fire', '308', '65', '63', '45', '45', '45')
('501', 'Oshawott', 'Water', '308', '55', '55', '45', '63', '45')
('502', 'Dewott', 'Water', '413', '75', '75', '60', '83', '60')
('503', 'Samurott', 'Water', '528', '95', '100', '85', '108', '70')
('513', 'Pansear', 'Fire', '316', '50', '53', '48', '53', '48')
('514', 'Simisear', 'Fire', '498', '75', '98', '63', '98', '63')
('515', 'Panpour', 'Water', '316', '50', '53', '48', '53', '48')
('516', 'Simipour', 'Water', '498', '75', '98', '63', '98', '63')
('535', 'Tympole', 'Water', '294', '50', '50', '40', '50', '40')
('550', 'Basculin Red-Striped Form', 'Water', '460', '70', '92', '65', '80', '55')
('550', 'Basculin Blue-Striped Form', 'Water', '460', '70', '92', '65', '80', '55')
('554', 'Darumaka', 'Fire', '315', '70', '90', '45', '15', '45')
('555', 'Darmanitan Standard Mode', 'Fire', '480', '105', '140', '55', '30', '55')
('594', 'Alomomola', 'Water', '470', '165', '75', '80', '40', '45')
('631', 'Heatmor', 'Fire', '484', '85', '97', '66', '105', '66')
('653', 'Fennekin', 'Fire', '307', '40', '45', '40', '62', '60')
('654', 'Braixen', 'Fire', '409', '59', '59', '58', '90', '70')
('656', 'Froakie', 'Water', '314', '41', '56', '40', '62', '44')
('657', 'Frogadier', 'Water', '405', '54', '63', '52', '83', '56')
('692', 'Clauncher', 'Water', '330', '50', '53', '62', '58', '63')
('693', 'Clawitzer', 'Water', '500', '71', '73', '88', '120', '89')
('725', 'Litten', 'Fire', '320', '45', '65', '40', '60', '40')
('726', 'Torracat', 'Fire', '420', '65', '85', '50', '80', '50')
('728', 'Popplio', 'Water', '320', '50', '54', '54', '66', '56')
('729', 'Brionne', 'Water', '420', '60', '69', '69', '91', '81')
('746', 'Wishiwashi Solo Form', 'Water', '175', '45', '20', '20', '25', '25')
('746', 'Wishiwashi School Form', 'Water', '620', '45', '140', '130', '140', '135')
('771', 'Pyukumuku', 'Water', '410', '55', '60', '130', '30', '130')
('813', 'Scorbunny', 'Fire', '310', '50', '71', '40', '40', '40')
('814', 'Raboot', 'Fire', '420', '65', '86', '60', '55', '60')
('815', 'Cinderace', 'Fire', '530', '80', '116', '75', '65', '75')
('816', 'Sobble', 'Water', '310', '50', '40', '40', '70', '40')
('817', 'Drizzile', 'Water', '420', '65', '60', '55', '95', '55')
('818', 'Inteleon', 'Water', '530', '70', '85', '65', '125', '65')
('833', 'Chewtle', 'Water', '284', '50', '64', '50', '38', '38')
('846', 'Arrokuda', 'Water', '280', '41', '63', '40', '40', '30')
('847', 'Barraskewda', 'Water', '490', '61', '123', '60', '60', '50')

In [48]:
# setting all the data where type=fire 
cursor.execute("""
    SELECT
    *
    FROM 
    PKS_TABLE
    WHERE
    TYPE='Fire'
""").fetchall()

[('004', 'Charmander', 'Fire', '309', '39', '52', '43', '60', '50'),
 ('005', 'Charmeleon', 'Fire', '405', '58', '64', '58', '80', '65'),
 ('037', 'Vulpix', 'Fire', '299', '38', '41', '40', '50', '65'),
 ('038', 'Ninetales', 'Fire', '505', '73', '76', '75', '81', '100'),
 ('058', 'Growlithe', 'Fire', '350', '55', '70', '45', '70', '50'),
 ('059', 'Arcanine', 'Fire', '555', '90', '110', '80', '100', '80'),
 ('077', 'Ponyta', 'Fire', '410', '50', '85', '55', '65', '65'),
 ('078', 'Rapidash', 'Fire', '500', '65', '100', '70', '80', '80'),
 ('126', 'Magmar', 'Fire', '495', '65', '95', '57', '100', '85'),
 ('136', 'Flareon', 'Fire', '525', '65', '130', '60', '95', '110'),
 ('155', 'Cyndaquil', 'Fire', '309', '39', '52', '43', '60', '50'),
 ('156', 'Quilava', 'Fire', '405', '58', '64', '58', '80', '65'),
 ('157', 'Typhlosion', 'Fire', '534', '78', '84', '78', '109', '85'),
 ('218', 'Slugma', 'Fire', '250', '40', '40', '40', '70', '40'),
 ('240', 'Magby', 'Fire', '365', '45', '75', '37', '70', '55'),
 ('244', 'Entei', 'Fire', '580', '115', '115', '85', '90', '75'),
 ('255', 'Torchic', 'Fire', '310', '45', '60', '40', '70', '50'),
 ('324', 'Torkoal', 'Fire', '470', '70', '85', '140', '85', '70'),
 ('351', 'Castform Sunny Form', 'Fire', '420', '70', '70', '70', '70', '70'),
 ('390', 'Chimchar', 'Fire', '309', '44', '58', '44', '58', '44'),
 ('467', 'Magmortar', 'Fire', '540', '75', '95', '67', '125', '95'),
 ('498', 'Tepig', 'Fire', '308', '65', '63', '45', '45', '45'),
 ('513', 'Pansear', 'Fire', '316', '50', '53', '48', '53', '48'),
 ('514', 'Simisear', 'Fire', '498', '75', '98', '63', '98', '63'),
 ('554', 'Darumaka', 'Fire', '315', '70', '90', '45', '15', '45'),
 ('555',
  'Darmanitan Standard Mode',
  'Fire',
  '480',
  '105',
  '140',
  '55',
  '30',
  '55'),
 ('631', 'Heatmor', 'Fire', '484', '85', '97', '66', '105', '66'),
 ('653', 'Fennekin', 'Fire', '307', '40', '45', '40', '62', '60'),
 ('654', 'Braixen', 'Fire', '409', '59', '59', '58', '90', '70'),
 ('725', 'Litten', 'Fire', '320', '45', '65', '40', '60', '40'),
 ('726', 'Torracat', 'Fire', '420', '65', '85', '50', '80', '50'),
 ('813', 'Scorbunny', 'Fire', '310', '50', '71', '40', '40', '40'),
 ('814', 'Raboot', 'Fire', '420', '65', '86', '60', '55', '60'),
 ('815', 'Cinderace', 'Fire', '530', '80', '116', '75', '65', '75')]

In [49]:
# setting all the data where type = water
cursor.execute("""
    SELECT
    *
    FROM 
    PKS_TABLE
    WHERE
    TYPE='Water'
""").fetchall()

[('007', 'Squirtle', 'Water', '314', '44', '48', '65', '50', '64'),
 ('008', 'Wartortle', 'Water', '405', '59', '63', '80', '65', '80'),
 ('009', 'Blastoise', 'Water', '530', '79', '83', '100', '85', '105'),
 ('009',
  'Blastoise Mega Blastoise',
  'Water',
  '630',
  '79',
  '103',
  '120',
  '135',
  '115'),
 ('054', 'Psyduck', 'Water', '320', '50', '52', '48', '65', '50'),
 ('055', 'Golduck', 'Water', '500', '80', '82', '78', '95', '80'),
 ('060', 'Poliwag', 'Water', '300', '40', '50', '40', '40', '40'),
 ('061', 'Poliwhirl', 'Water', '385', '65', '65', '65', '50', '50'),
 ('086', 'Seel', 'Water', '325', '65', '45', '55', '45', '70'),
 ('090', 'Shellder', 'Water', '305', '30', '65', '100', '45', '25'),
 ('098', 'Krabby', 'Water', '325', '30', '105', '90', '25', '25'),
 ('099', 'Kingler', 'Water', '475', '55', '130', '115', '50', '50'),
 ('116', 'Horsea', 'Water', '295', '30', '40', '70', '70', '25'),
 ('117', 'Seadra', 'Water', '440', '55', '65', '95', '95', '45'),
 ('118', 'Goldeen', 'Water', '320', '45', '67', '60', '35', '50'),
 ('119', 'Seaking', 'Water', '450', '80', '92', '65', '65', '80'),
 ('120', 'Staryu', 'Water', '340', '30', '45', '55', '70', '55'),
 ('129', 'Magikarp', 'Water', '200', '20', '10', '55', '15', '20'),
 ('134', 'Vaporeon', 'Water', '525', '130', '65', '60', '110', '95'),
 ('158', 'Totodile', 'Water', '314', '50', '65', '64', '44', '48'),
 ('159', 'Croconaw', 'Water', '405', '65', '80', '80', '59', '63'),
 ('160', 'Feraligatr', 'Water', '530', '85', '105', '100', '79', '83'),
 ('186', 'Politoed', 'Water', '500', '90', '75', '75', '90', '100'),
 ('223', 'Remoraid', 'Water', '300', '35', '65', '35', '65', '35'),
 ('224', 'Octillery', 'Water', '480', '75', '105', '75', '105', '75'),
 ('245', 'Suicune', 'Water', '580', '100', '75', '115', '90', '115'),
 ('258', 'Mudkip', 'Water', '310', '50', '70', '50', '50', '50'),
 ('320', 'Wailmer', 'Water', '400', '130', '70', '35', '70', '35'),
 ('321', 'Wailord', 'Water', '500', '170', '90', '45', '90', '45'),
 ('341', 'Corphish', 'Water', '308', '43', '80', '65', '50', '35'),
 ('349', 'Feebas', 'Water', '200', '20', '15', '20', '10', '55'),
 ('350', 'Milotic', 'Water', '540', '95', '60', '79', '100', '125'),
 ('351', 'Castform Rainy Form', 'Water', '420', '70', '70', '70', '70', '70'),
 ('366', 'Clamperl', 'Water', '345', '35', '64', '85', '74', '55'),
 ('367', 'Huntail', 'Water', '485', '55', '104', '105', '94', '75'),
 ('368', 'Gorebyss', 'Water', '485', '55', '84', '105', '114', '75'),
 ('370', 'Luvdisc', 'Water', '330', '43', '30', '55', '40', '65'),
 ('382', 'Kyogre', 'Water', '670', '100', '100', '90', '150', '140'),
 ('382',
  'Kyogre Primal Kyogre',
  'Water',
  '770',
  '100',
  '150',
  '90',
  '180',
  '160'),
 ('393', 'Piplup', 'Water', '314', '53', '51', '53', '61', '56'),
 ('394', 'Prinplup', 'Water', '405', '64', '66', '68', '81', '76'),
 ('418', 'Buizel', 'Water', '330', '55', '65', '35', '60', '30'),
 ('419', 'Floatzel', 'Water', '495', '85', '105', '55', '85', '50'),
 ('422', 'Shellos', 'Water', '325', '76', '48', '48', '57', '62'),
 ('456', 'Finneon', 'Water', '330', '49', '49', '56', '49', '61'),
 ('457', 'Lumineon', 'Water', '460', '69', '69', '76', '69', '86'),
 ('489', 'Phione', 'Water', '480', '80', '80', '80', '80', '80'),
 ('490', 'Manaphy', 'Water', '600', '100', '100', '100', '100', '100'),
 ('501', 'Oshawott', 'Water', '308', '55', '55', '45', '63', '45'),
 ('502', 'Dewott', 'Water', '413', '75', '75', '60', '83', '60'),
 ('503', 'Samurott', 'Water', '528', '95', '100', '85', '108', '70'),
 ('515', 'Panpour', 'Water', '316', '50', '53', '48', '53', '48'),
 ('516', 'Simipour', 'Water', '498', '75', '98', '63', '98', '63'),
 ('535', 'Tympole', 'Water', '294', '50', '50', '40', '50', '40'),
 ('550',
  'Basculin Red-Striped Form',
  'Water',
  '460',
  '70',
  '92',
  '65',
  '80',
  '55'),
 ('550',
  'Basculin Blue-Striped Form',
  'Water',
  '460',
  '70',
  '92',
  '65',
  '80',
  '55'),
 ('594', 'Alomomola', 'Water', '470', '165', '75', '80', '40', '45'),
 ('656', 'Froakie', 'Water', '314', '41', '56', '40', '62', '44'),
 ('657', 'Frogadier', 'Water', '405', '54', '63', '52', '83', '56'),
 ('692', 'Clauncher', 'Water', '330', '50', '53', '62', '58', '63'),
 ('693', 'Clawitzer', 'Water', '500', '71', '73', '88', '120', '89'),
 ('728', 'Popplio', 'Water', '320', '50', '54', '54', '66', '56'),
 ('729', 'Brionne', 'Water', '420', '60', '69', '69', '91', '81'),
 ('746', 'Wishiwashi Solo Form', 'Water', '175', '45', '20', '20', '25', '25'),
 ('746',
  'Wishiwashi School Form',
  'Water',
  '620',
  '45',
  '140',
  '130',
  '140',
  '135'),
 ('771', 'Pyukumuku', 'Water', '410', '55', '60', '130', '30', '130'),
 ('816', 'Sobble', 'Water', '310', '50', '40', '40', '70', '40'),
 ('817', 'Drizzile', 'Water', '420', '65', '60', '55', '95', '55'),
 ('818', 'Inteleon', 'Water', '530', '70', '85', '65', '125', '65'),
 ('833', 'Chewtle', 'Water', '284', '50', '64', '50', '38', '38'),
 ('846', 'Arrokuda', 'Water', '280', '41', '63', '40', '40', '30'),
 ('847', 'Barraskewda', 'Water', '490', '61', '123', '60', '60', '50')]

In [51]:
# selecting all the data from the PKS_TABLE where type = water or hp was greater then 550
cursor.execute("""
    SELECT
    *
    FROM 
    PKS_TABLE
    WHERE
    TYPE = 'WATER'
      OR
    HP > '550'
""").fetchall()

[('009',
  'Blastoise Mega Blastoise',
  'Water',
  '630',
  '79',
  '103',
  '120',
  '135',
  '115'),
 ('059', 'Arcanine', 'Fire', '555', '90', '110', '80', '100', '80'),
 ('244', 'Entei', 'Fire', '580', '115', '115', '85', '90', '75'),
 ('245', 'Suicune', 'Water', '580', '100', '75', '115', '90', '115'),
 ('382', 'Kyogre', 'Water', '670', '100', '100', '90', '150', '140'),
 ('382',
  'Kyogre Primal Kyogre',
  'Water',
  '770',
  '100',
  '150',
  '90',
  '180',
  '160'),
 ('490', 'Manaphy', 'Water', '600', '100', '100', '100', '100', '100'),
 ('746',
  'Wishiwashi School Form',
  'Water',
  '620',
  '45',
  '140',
  '130',
  '140',
  '135')]

In [52]:
# selecting the hp column for the PKS_TABLE
cursor.execute("""
    SELECT 
    HP
    FROM
    PKS_TABLE


""").fetchall()

[('309',),
 ('405',),
 ('314',),
 ('405',),
 ('530',),
 ('630',),
 ('299',),
 ('505',),
 ('320',),
 ('500',),
 ('350',),
 ('555',),
 ('300',),
 ('385',),
 ('410',),
 ('500',),
 ('325',),
 ('305',),
 ('325',),
 ('475',),
 ('295',),
 ('440',),
 ('320',),
 ('450',),
 ('340',),
 ('495',),
 ('200',),
 ('525',),
 ('525',),
 ('309',),
 ('405',),
 ('534',),
 ('314',),
 ('405',),
 ('530',),
 ('500',),
 ('250',),
 ('300',),
 ('480',),
 ('365',),
 ('580',),
 ('580',),
 ('310',),
 ('310',),
 ('400',),
 ('500',),
 ('470',),
 ('308',),
 ('200',),
 ('540',),
 ('420',),
 ('420',),
 ('345',),
 ('485',),
 ('485',),
 ('330',),
 ('670',),
 ('770',),
 ('309',),
 ('314',),
 ('405',),
 ('330',),
 ('495',),
 ('325',),
 ('330',),
 ('460',),
 ('540',),
 ('480',),
 ('600',),
 ('308',),
 ('308',),
 ('413',),
 ('528',),
 ('316',),
 ('498',),
 ('316',),
 ('498',),
 ('294',),
 ('460',),
 ('460',),
 ('315',),
 ('480',),
 ('470',),
 ('484',),
 ('307',),
 ('409',),
 ('314',),
 ('405',),
 ('330',),
 ('500',),
 ('320',),
 ('420',),
 ('320',),
 ('420',),
 ('175',),
 ('620',),
 ('410',),
 ('310',),
 ('420',),
 ('530',),
 ('310',),
 ('420',),
 ('530',),
 ('284',),
 ('280',),
 ('490',)]

In [53]:
# selecting all the columns of the PKS_TABLE where name= 'Entei'
cursor.execute("""
    SELECT 
    *
    FROM
    PKS_TABLE
    WHERE
    NAME = 'Entei'

""").fetchall()

[('244', 'Entei', 'Fire', '580', '115', '115', '85', '90', '75')]